<div class="row">
  <div class="col-md-10">
    <h1>Your devices</h1>
  </div>
  <div class="col-md-2" style="margin-top: 20px">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Add Device
      </button>
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog" style="width: 330px">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Device</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form novalidate id="addDevice" role="form">
              <label>Token</label>
              <input class="form-control" type="text" [(ngModel)]="deviceDTO.token" name="token"/>
              <label>Name</label>
              <input class="form-control" type="text" [(ngModel)]="deviceDTO.name" name="token"/>
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addDevice()">Add</button>
            </form>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addDevice()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Permission</th>
    <th>Last Measurement</th>
    <th>Map</th>
    <th>Update</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let device of devices">
    <td>{{device.name}}</td>
    <td>{{device.permission}}</td>
    <td>{{device.lastMeasurementDate}}</td>
    <td>
      <button type="submit" class="btn btn-success" (click)="mapRedirect(device.id)">Map</button>
    </td>
    <td>Update</td>
  </tr>
  </tbody>
</table>
