<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GPS Tracker</a>
    </div>
    <div *ngIf="_service.isTokenExpired()===true">
      <app-login></app-login>
    </div>
    <div *ngIf="_service.isTokenExpired()===false">
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="_service.decodeToken().authorities[0].authority === 'ROLE_ADMIN'" [routerLink]="['admins']">Devices</a>
        </li>
        <li><a *ngIf="_service.decodeToken().authorities[0].authority === 'ROLE_USER'" [routerLink]="['devices']">Devices</a>
        </li>
        <li><a [routerLink]="['userInfo']">User Details</a></li>
        <li>
          <button type="submit" class="btn btn-danger navbar-btn" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
