.register-border {
  height: 50%;
  border: solid #343a40;
  border-top: none;
}

.bodycontainer {
  max-height: 400px;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}

.table-scrollable {
  margin: 0;
  padding: 0;
}
